.container {
  padding-top: 12.8rem;
  width: 70vw;
  margin: 0 auto;

  .titel {
    font-size: 4.4rem;
    margin-bottom: 0.8rem;
  }

  .text {
    line-height: 1.2;
    padding: 3.2rem 0rem 9.6rem 0rem;
    margin: 0 auto;
  }

  .koncepts {
    margin: 0 auto;
    display: flex;
    gap: 10%;
  }
}

@media (max-width: 59em) {
  .container {
    width: 70vw;
    padding-top: 24px;

    .text {
      padding: 24px 0rem 24px 0rem;
    }
  }
}

@media (max-width: 25em) {
  .container {
    width: 80vw;
  }
}
