.container {
  display: flex;
  margin: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 160px;
  width: 80vw;

  div {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h2 {
    text-align: center;
    width: 100%;
    margin-bottom: 8px;
  }
  p {
    text-align: center;
    width: 60%;
  }
  .image {
    margin-top: 40px;
    width: 60%;
    height: auto;
  }
}

@media (max-width: 90em) {
  .container {
    width: 90vw;
  }
}

@media (max-width: 992px) {
  .container {
    margin-top: var(--space-xxl);
    width: 90vw;
    flex-direction: column-reverse;
    gap: var(--space-md);
    h2 {
      text-align: left;
    }
    p {
      text-align: left;
      width: 100%;
    }
    .image {
      margin-top: 0px;
      width: 100%;
    }
  }
}
