/* Base sizing (1rem = 10px) */
html {
  font-size: 62.5%;
}

// Colors
$colors: (
  primary: #190dfe,
  secondary: #f25f4c,
  tertiary: #ec5228,
  light: #f8f9fa,
  dark: #212529,
  text: #333333,
  gray: #6c757d,
  light-gray: #5555,
  success: #4bb543,
  danger: #dc3545,
  warning: #ffc107,
  info: #17a2b8,
);

/* Spacing */
$spacing: (
  xs: 0.4rem,
  sm: 0.8rem,
  md: 1.6rem,
  lg: 2.4rem,
  xl: 3.2rem,
  xxl: 4.8rem,
  xxxl: 6.4rem,
);

/* Typography */
$font-sizes: (
  xs: 1.2rem,
  sm: 1.4rem,
  base: 1.6rem,
  md: 1.8rem,
  lg: 2rem,
  xl: 2.4rem,
  xxl: 3.2rem,
  xxxl: 4rem,
);

// Line heights
$line-height: (
  tight: 1.1,
  // For headings and tight spacing
  snug: 1.25,
  // For subheadings
  normal: 1.5,
  // Default for body text
  relaxed: 1.625,
  // For longer reading content
  loose: 1.75 // For very large text or special cases,,,,,,,,
);

$font-weights: (
  light: 300,
  regular: 400,
  medium: 500,
  semi-bold: 600,
  bold: 700,
);

// Spacing
$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * 0.25,
  2: $spacer * 0.5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
);

// Breakpoints
$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
  xxxl: 2000px,
);

// Border
$border-radius: (
  sm: 0.125rem,
  base: 0.25rem,
  lg: 0.5rem,
  pill: 50rem,
  circle: 50%,
);

// Box shadow
$box-shadow: (
  sm: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075),
  base: 0 0.5rem 1rem rgba(0, 0, 0, 0.15),
  lg: 0 1rem 3rem rgba(0, 0, 0, 0.175),
);
