.container {
  padding-top: 12.8rem;
  width: 70vw;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  gap: var(--space-md);
}

@media (max-width: 59em) {
  .container {
    width: 90vw;
    padding-top: 24px;
  }
}
