.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  background-color: #988cff;
  padding: 240px 0;
  margin-top: 160px;

  .header {
    color: #ffffff;
    font-size: 56px;
    font-weight: 600;
  }

  .question {
    color: #ffffff;
    font-size: 32px;
    font-style: italic;
    font-weight: 500;
    margin-top: 24px;
    width: 60%;
    text-align: center;
  }
}

@media (max-width: 90em) {
  .container {
    width: 100vw;
  }
}

@media (max-width: 25em) {
  .container {
    margin-top: 40px;
    padding: 120px 0;

    .header {
      font-size: 32px;
    }

    .question {
      width: 90%;
      font-size: 16px;
    }
  }
}
