// Main container styles
.upperContainer {
  position: relative;
}

.kryImg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.phone {
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 2;
  width: 25vw;
  overflow: hidden;
  pointer-events: none;

  &Image {
    width: 100%;
    height: auto;
  }
}

.swipes {
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 1;
  border-radius: 2.6vw;
  height: 42.1vw;
  width: 22vw;
  overflow: hidden;
  cursor: pointer;
}

.swipe {
  position: absolute;
  z-index: 1;
  border-radius: 10%;
  height: 42vw;
  width: 22vw;
}

// First slide styles
.firstSlide {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
}

.whiteSide {
  width: 50%;
  background-color: white;
  position: relative;
}

.orangeCicle {
  transform: translate(0%, 100%);
  float: right;
  width: 30%;
  padding-top: 60%; // 1:1 Aspect Ratio
  background-color: #e38547;
  border-bottom-left-radius: 200px;
  border-top-left-radius: 200px;
}

.leftArrow {
  position: absolute;
  left: 22%;
  top: 50%;
  transform: scaleX(-1);
  width: 30%;
  fill: #e38547;
}

.orangeSide {
  width: 50%;
  background-color: #e38547;
  position: relative;
}

.whiteCicle {
  transform: translate(0%, 100%);
  width: 30%;
  padding-top: 60%;
  background-color: white;
  border-bottom-right-radius: 200px;
  border-top-right-radius: 200px;
}

.rightArrow {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 30%;
  fill: white;
}

// Second slide styles
.secondSlide {
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profileInfo {
  margin-left: 2vw;
  display: flex;
  align-items: center;
  height: 8%;
  width: 100%;
  gap: 0.5vw;

  p {
    line-height: 1.1;
    font-size: 1rem;
  }

  @media (max-width: 32em) {
    p {
      line-height: 1.1;
      font-size: 5px;
    }
  }
}

.profileImg {
  height: 4rem;
  width: 4rem;
  padding-bottom: 2.4rem;

  img {
    width: 100%;
    height: auto;
  }

  @media (max-width: 32em) {
    height: 12px;
    width: 12px;
    padding-bottom: 15px;
  }
}

.swiperImg {
  height: 35%;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.imgContainer {
  position: absolute;
  width: 100%;

  img {
    width: 100%;
    height: auto;
  }
}

.iconer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin-top: 0.8rem;
  padding-bottom: 1.2rem;

  @media (max-width: 32em) {
    margin-top: 3px;
    padding-bottom: 0;
  }
}

// Icon styles
.heartImg,
.chatImg,
.planeImg,
.bookMarkImg {
  height: 2.4rem;

  @media (max-width: 44em) {
    height: 12px;
  }

  @media (max-width: 32em) {
    height: 10px;
  }
}

.textLikes {
  line-height: 1.1;
  width: 90%;
  font-size: 0.8rem;

  @media (max-width: 32em) {
    line-height: 1.1;
    width: 90%;
    font-size: 5px;
  }
}

.textContainer {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1;

  h2 {
    font-size: 30vw;
  }
}

.textLeft {
  color: black;
}

.textRight {
  color: white;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.whiteBackground {
  width: 50%;
  background-color: white;
}

.orangeBackground {
  width: 50%;
  background-color: #e38547;
}

.carousell {
  width: 100%;
  height: 100%;
}
