.container {
  width: 70vw;
  margin: 0 auto;
  & > p {
    padding-top: var(--space-md);
    padding-bottom: var(--space-xl);
  }
  h2 {
    margin-bottom: var(--space-md);
  }
}

// Image container
.imgContainer {
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: var(--space-xxl);

  img {
    max-width: 100%; // Ensure image doesn't overflow
    max-height: 100%; // Prevent vertical overflow
    width: auto; // Respect original aspect ratio
    height: auto;
    object-fit: contain; // Fit entire image without cropping
  }
}

.swiperContainer {
  margin: 0 auto;
  width: 100%;
}

// Media queries
@media (max-width: 992px) {
  .container {
    width: 90vw;
  }
  .imgContainer {
    margin-top: var(--space-md);
  }
}
