.container {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-top: 240px;
  width: 80vw;
}

.textContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 50%;

  h2 {
    color: #5145bf;
  }

  p {
    color: #000;
    font-style: normal;
  }
}

.video {
  width: 50%;
  border: solid 8px #ffbf6c;

  video {
    width: 100%;
  }
}

@media (max-width: 90em) {
  .container {
    width: 85vw;
  }

  .textContainer {
    h2 {
    }

    p {
    }
  }
}

@media (max-width: 25em) {
  .container {
    flex-direction: column-reverse;
    margin-top: 80px;
    width: 85vw;
  }

  .textContainer {
    width: 100%;

    h2 {
    }

    p {
    }
  }

  .video {
    width: 100%;
  }
}
