.workExperience {
  margin-bottom: var(--space-sm);
  border-bottom: 1px solid #eee;

  &:last-child {
    margin-bottom: 0;
    border-bottom: none;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.company {
  margin: 0;
  color: var(--color-text);
}

.time {
  color: var(--color-text);
  font-weight: 500;
}
